# KUIS 2 Pembelajaran Mesin
Nama : ALIFIYUL AKYUN

Kelas : TI-3B

NIM : 2041720036

No absen : 06

## Tentang dataset

Pada sebuah lembaga kemanusiaan berbasis teknologi informasi, dibentuk beberapa tim kemanusiaan yang bertugas untuk terjun ke masyarakat memberikan bantuan dalam bentuk aplikasi komputer atau layanan pelatihan IT.  Kegiatn tersebut dilaksanakan setiap tahun dengan ketentuan anggota organisasi tersebut dapat bergabung ke beberapa tim sebagai ketua atau anggota. Terdapat pula anggota yang sudah tidak aktif di organisasi tersebut (terhapus di database mereka â€”> label N/A).  Organisasi tersebut juga melakukan rekrutmen volunteer, namun tidak semua tim menggunakan bantuan volunteer. Hasil kegiatan dari setiap tim dapat diwujudkan ke dalam sebuah pengakuan hak cipta atau publikasi karya ilmiah atau publikasi berita di media massa.

## Ketentuan
1. Pengerjaan secara individu alias setiap mahasiswa!
2. Terdapat data dengan nilai #N/A, pertimbangkan cara terbaik untuk mengatasi nilai tersebut.
3. Tidak boleh ada duplikasi pekerjaan antar mahasiswa
4. Berikan penjelasan untuk setiap tahapan. Jangan hanya kode!

## Soal
1. Lakukan pemilahan data training dan testing yang sesuai dan proporsional dari data tersebut! (10 poin)
2. Tentukan data validasi! (10 poin)
3. Tentukan secara tepat kolom yang menjadi "label" (20 poin)
4. Terapkan dua jenis metode klasifikasi dan lakukan perbandingan akurasi  dengan wajib melibatkan variabel keterlibatan volunteer sampai variabel luaran-luaran yang dihasilkan! (20 poin)
5. Lakukan tunning hyperparameter berdasarkan hasil klasifikasi pada nomor 3 menggunakan metode Grid Search dan Random Search! Simpulkan parameter apa yang paling baik digunakan berdasarkan metode klasifikasi yang dipilih, dan berapa akurasinya. (40 poin)

In [73]:
import pandas as pd
import numpy as np

df = pd.read_excel('data/dataset_quiz.xlsx')

df.head(100)

,id_ketua,id_anggota1,id_anggota2,id_anggota3,id_anggota4,id_anggota5,keterlibatan_vltr,jml_vltr_terlibat,tahun,skema,luaran_hki,jenis_luaran_hki,potensi_hki,luaran_lain,jenis_luaran_lain,status_luaran_lain
0,7206.0,7214.0,6211.0,8602.0,7801.0,NaN,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
1,7214.0,7109.0,8402.0,7903.0,9202.0,NaN,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
2,5911.0,8201.0,8701.0,9101.0,9003.0,NaN,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
3,8402.0,7702.0,8602.0,8903.0,8903.0,NaN,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
4,8201.0,8305.0,5911.0,5903.0,8402.0,NaN,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,8803.0,8804.0,9102.0,8005.0,9303.0,NaN,YA,3,2022,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
81,6211.0,8901.0,9003.0,9303.0,9007.0,NaN,YA,3,2022,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
82,8601.0,8903.0,8703.0,NaN,NaN,NaN,YA,3,2022,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
83,8703.0,8601.0,9202.0,9102.0,6204.0,NaN,YA,3,2022,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
84,8102.0,7109.0,5903.0,7206.0,8903.0,NaN,TIDAK,0,2022,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA

In [74]:
# Cek semua data yang kosong
df.isna().sum()

id_ketua               3
id_anggota1            5
id_anggota2            4
id_anggota3            3
id_anggota4           13
id_anggota5           84
keterlibatan_vltr      0
jml_vltr_terlibat      0
tahun                  0
skema                  0
luaran_hki             0
jenis_luaran_hki       0
potensi_hki            0
luaran_lain            0
jenis_luaran_lain      0
status_luaran_lain     0
dtype: int64

In [75]:
# Menghilangkan data null
df.drop('id_anggota5', axis=1, inplace=True)

modus_ketua = df['id_ketua'].mode()[0]
df['id_ketua'] = df['id_ketua'].fillna(modus_ketua)

modus_anggota1 = df['id_anggota1'].mode()[0]
df['id_anggota1'] = df['id_anggota1'].fillna(modus_anggota1)

modus_anggota2 = df['id_anggota2'].mode()[0]
df['id_anggota2'] = df['id_anggota2'].fillna(modus_anggota2)

modus_anggota3 = df['id_anggota3'].mode()[0]
df['id_anggota3'] = df['id_anggota3'].fillna(modus_anggota3)

modus_anggota4 = df['id_anggota4'].mode()[0]
df['id_anggota4'] = df['id_anggota4'].fillna(modus_anggota4)
# Cek Data
df.head()

,id_ketua,id_anggota1,id_anggota2,id_anggota3,id_anggota4,keterlibatan_vltr,jml_vltr_terlibat,tahun,skema,luaran_hki,jenis_luaran_hki,potensi_hki,luaran_lain,jenis_luaran_lain,status_luaran_lain
0,7206.0,7214.0,6211.0,8602.0,7801.0,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
1,7214.0,7109.0,8402.0,7903.0,9202.0,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
2,5911.0,8201.0,8701.0,9101.0,9003.0,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
3,8402.0,7702.0,8602.0,8903.0,8903.0,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
4,8201.0,8305.0,5911.0,5903.0,8402.0,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA

In [76]:
# Cek seluruh data yang kosong
df.isna().sum()

id_ketua              0
id_anggota1           0
id_anggota2           0
id_anggota3           0
id_anggota4           0
keterlibatan_vltr     0
jml_vltr_terlibat     0
tahun                 0
skema                 0
luaran_hki            0
jenis_luaran_hki      0
potensi_hki           0
luaran_lain           0
jenis_luaran_lain     0
status_luaran_lain    0
dtype: int64

## Soal 1 & 2<br>
Pemilahan data training dan testing yang sesuai dan proporsional, Menentukan validasi data

In [77]:
# Split data
from sklearn.model_selection import train_test_split

# Split data training dan dan lainnya
# data lainnya di split lagi menjadi validasi dan testing.
# Rasio yang digunakan adalah 8:1:1
df_train, df_unseen = train_test_split(df, test_size=0.2, random_state=0)

# Split lagi antara validasi dan testing
df_val, df_test = train_test_split(df_unseen, test_size=0.5, random_state=0)

# Cek masing-masing ukuran data
print(f'Jumlah dari data asli: {df.shape[0]}')
print(f'Jumlah dari data training: {df_train.shape[0]}')
print(f'Jumlah dari data testing: {df_test.shape[0]}')
print(f'Jumlah dari data validasi: {df_val.shape[0]}')

# Cek rasio tiap label
print('=========')
print(f'Jumlah dari label data asli:\n{df.keterlibatan_vltr.value_counts()}')
print(f'Jumlah dari label data training:\n{df_train.keterlibatan_vltr.value_counts()}')
print(f'Jumlah dari label data testing:\n{df_test.keterlibatan_vltr.value_counts()}')
print(f'Jumlah dari label data validasi:\n{df_val.keterlibatan_vltr.value_counts()}')

Jumlah dari data asli: 85
Jumlah dari data training: 68
Jumlah dari data testing: 9
Jumlah dari data validasi: 8
=========
Jumlah dari label data asli:
TIDAK    45
YA       40
Name: keterlibatan_vltr, dtype: int64
Jumlah dari label data training:
TIDAK    36
YA       32
Name: keterlibatan_vltr, dtype: int64
Jumlah dari label data testing:
TIDAK    6
YA       3
Name: keterlibatan_vltr, dtype: int64
Jumlah dari label data validasi:
YA       5
TIDAK    3
Name: keterlibatan_vltr, dtype: int64

## Soal 3 <br>
Menentukan kolom sehingga menjadi "label"

In [79]:
from sklearn.preprocessing import LabelEncoder
labelencoder=LabelEncoder()

df['keterlibatan_vltr'] = labelencoder.fit_transform(df['keterlibatan_vltr'])
df['skema'] =labelencoder.fit_transform(df['skema'])
df['luaran_hki'] = labelencoder.fit_transform(df['luaran_hki'])
df['jenis_luaran_hki'] = labelencoder.fit_transform(df['jenis_luaran_hki'])
df['potensi_hki'] = labelencoder.fit_transform(df['potensi_hki'])
df['luaran_lain'] = labelencoder.fit_transform(df['luaran_lain'])
df['jenis_luaran_lain'] = labelencoder.fit_transform(df['jenis_luaran_lain'])
df['status_luaran_lain'] = labelencoder.fit_transform(df['status_luaran_lain'])
df.head()

,id_ketua,id_anggota1,id_anggota2,id_anggota3,id_anggota4,keterlibatan_vltr,jml_vltr_terlibat,tahun,skema,luaran_hki,jenis_luaran_hki,potensi_hki,luaran_lain,jenis_luaran_lain,status_luaran_lain
0,7206.0,7214.0,6211.0,8602.0,7801.0,0,0,2019,1,1,1,2,0,3,1
1,7214.0,7109.0,8402.0,7903.0,9202.0,0,0,2019,1,1,1,2,0,3,1
2,5911.0,8201.0,8701.0,9101.0,9003.0,0,0,2019,1,1,1,2,0,3,1
3,8402.0,7702.0,8602.0,8903.0,8903.0,0,0,2019,1,1,1,2,0,3,1
4,8201.0,8305.0,5911.0,5903.0,8402.0,0,0,2019,1,1,1,2,0,3,1

## Soal 4<br>
Menerapkan dua jenis metode klasifikasi dan lakukan perbandingan akurasi dengan wajib melibatkan variabel keterlibatan volunteer sampai variabel luaran-luaran yang dihasilkan

In [80]:
#selesksi fitur
X = df.iloc[:, 6:]
y = df['keterlibatan_vltr']

X.shape

(85, 9)

In [81]:
#training dan validasi data
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5, random_state=4)

X_val, X_unseen, y_val, y_unseen = train_test_split(X_test, y_test, test_size=0.6, random_state=5)

In [82]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

# Sesuaikan dt ke set training
dt = DecisionTreeClassifier()
dt.fit(X_train, y_train)

# Memprediksi label set test
y_pred_dt = dt.predict(X_test)

# Menghitung set accuracy
acc_dt = accuracy_score(y_test, y_pred_dt)
print("Test set accuracy: {:.2f}".format(acc_dt))
print(f"Test set accuracy: {acc_dt}")

Test set accuracy: 0.98
Test set accuracy: 0.9767441860465116

In [83]:
from sklearn.ensemble import RandomForestClassifier

# Sesuaikan rf ke set training
rf = RandomForestClassifier(n_estimators=30, random_state=12)
rf.fit(X_train, y_train)

# Memprediksi label set test
y_pred_rf = rf.predict(X_test)

# Menghitung set accuracy
acc_rf = accuracy_score(y_test, y_pred_rf)
print("Test set accuracy: {:.2f}".format(acc_rf))
print(f"Test set accuracy: {acc_rf}")

Test set accuracy: 0.98
Test set accuracy: 0.9767441860465116

## Soal 5
Melakukan tunning hyperparameter berdasarkan hasil klasifikasi pada nomor 3 menggunakan metode Grid Search dan Random Search

In [84]:
# GridSearch menggunakan Decission Tree
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RepeatedKFold

#inisiasi repeated k-fold
cv = RepeatedKFold(n_splits=4, n_repeats=3, random_state=42)

# Definisikan hyperparameter yang akan digunakan
params = {
    'criterion' : ['gini', 'entropy', 'log_loss'],
    'max_depth' : list(range(5,11))
}

# inisiasi grid berdasarkan nilai repeated k-fold dan hyperparameter
grid = GridSearchCV(dt, param_grid=params, cv=cv)

# Fit / latih berdasarkan grid
%timeit grid.fit(X,y)

# Evaluasi dengan score
score = grid.score(X,y)

print(f'Hasil evaluasi: {score}')
print(f'Konfigurasi hyperparameter : {grid.best_params_}')

1.68 s Â± 132 ms per loop (mean Â± std. dev. of 7 runs, 1 loop each)
Hasil evaluasi: 1.0
Konfigurasi hyperparameter : {'criterion': 'gini', 'max_depth': 5}

In [85]:
# Random search menggunakan Decission Tree
from sklearn.model_selection import RandomizedSearchCV

# Definisikan hyperparameter yang akan digunakan
params = {
    'criterion' : ['gini', 'entropy'],
    'max_depth' : list(range(5,11))
}

# inisiasi grid berdasarkan nilai repeated k-fold dan hyperparameter
random = RandomizedSearchCV(dt, params, cv=cv)

# Fit / latih berdasarkan random
%timeit random.fit(X,y)

# Evaluasi dengan score
score = random.score(X,y)

print(f'Hasil evaluasi: {score}')
print(f'Konfigurasi hyperparameter : {random.best_params_}')

1.12 s Â± 92.4 ms per loop (mean Â± std. dev. of 7 runs, 1 loop each)
Hasil evaluasi: 1.0
Konfigurasi hyperparameter : {'max_depth': 9, 'criterion': 'gini'}

In [86]:
# Grid Search menggunakan Random Forest
# Definisikan hyperparameter yang akan digunakan
params_rf = {
    'n_estimators': [5,20,50,70],
    'max_depth': [int(x) for x in np.linspace(10, 120, num = 12)],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4],
    'bootstrap': [True, False]
}

# inisiasi grid berdasarkan nilai repeated k-fold dan hyperparameter
grid_rf = GridSearchCV(rf, param_grid=params_rf)

# Fit / latih berdasarkan grid
%timeit grid_rf.fit(X,y)

# Evaluasi dengan score
score_rf = grid_rf.score(X,y)

print(f'Hasil evaluasi: {score_rf}')
print(f'Konfigurasi hyperparameter : {grid_rf.best_params_}')

5min 30s Â± 33 s per loop (mean Â± std. dev. of 7 runs, 1 loop each)
Hasil evaluasi: 1.0
Konfigurasi hyperparameter : {'bootstrap': False, 'max_depth': 10, 'min_samples_leaf': 1, 'min_samples_split': 2, 'n_estimators': 5}

In [87]:
# Random Search menggunakan Random Forest
# Definisikan hyperparameter yang akan digunakan
params_rf = {
    'n_estimators': [5,20,50,70],
    'max_depth': [int(x) for x in np.linspace(10, 120, num = 12)],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4],
    'bootstrap': [True, False]
}

# inisiasi grid berdasarkan nilai repeated k-fold dan hyperparameter
random_rf = RandomizedSearchCV(rf, params_rf)

# Fit / latih berdasarkan grid
%timeit random_rf.fit(X,y)

# Evaluasi dengan score
score_rf = random_rf.score(X,y)

print(f'Hasil evaluasi: {score_rf}')
print(f'Konfigurasi hyperparameter : {random_rf.best_params_}')

4.52 s Â± 460 ms per loop (mean Â± std. dev. of 7 runs, 1 loop each)
Hasil evaluasi: 0.9882352941176471
Konfigurasi hyperparameter : {'n_estimators': 5, 'min_samples_split': 10, 'min_samples_leaf': 4, 'max_depth': 100, 'bootstrap': False}